setuptools==75.1.0
zmq
aiozmq
tqdm
pynvml
uvicorn
fastapi
openai
paddlepaddle-gpu @ https://paddlenlp.bj.bcebos.com/eff_ops/cuda128-fastdeploy-master-rl/paddlepaddle_gpu-0.0.0-cp310-cp310-linux_x86_64.whl
efficientllm @ https://paddlenlp.bj.bcebos.com/eff_ops/cuda128-fleety-0522/efficientllm-0.0.0-py3-none-any.whl
paddlenlp-ops @ https://paddlenlp.bj.bcebos.com/eff_ops/cuda128-fleety-0522/paddlenlp_ops-3.0.0b4.post20250510-py3-none-any.whl
fastdeploy @ https://paddlenlp.bj.bcebos.com/eff_ops/cuda128-fastdeploy-master-rl/fastdeploy-2.0.0a0-cp310-none-any.whl
redis
etcd3
httpx
tool_helpers
cupy-cuda12x
pybind11
tabulate
gradio
xlwt
visualdl
setuptools-scm>=8
prometheus-client
aistudio-sdk==0.2.6
